{% extends 'base.html.twig' %}

{% block title %}New ProductionRecipeStructure{% endblock %}

{% block body %}
    <div class="intro-y flex items-center mt-8">
        <h1 class="text-3xl">
            Добавить  в рецепт
        </h1>
    </div>

    {{ include('production_recipe_structure/_form.html.twig') }}

    <a href="{{ path('app_production_recipe_structure_index') }}">back to list</a>
{% endblock %}
