{% extends 'base.html.twig' %}

{% block title %}New ProductionRecipeStructure{% endblock %}

{% block body %}
    <h1>Create new ProductionRecipeStructure</h1>

    {{ include('production_recipe_structure/_form.html.twig') }}

    <a href="{{ path('app_production_recipe_structure_index') }}">back to list</a>
{% endblock %}
