<form method="post" action="{{ path('app_production_recipe_arguments_delete', {'id': production_recipe_argument.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ production_recipe_argument.id) }}">
    <button class="btn">Delete</button>
</form>
