{% extends 'base.html.twig' %}

{% block title %}New ProductionRecipeContent{% endblock %}

{% block body %}
    <div class="intro-y flex items-center mt-8">
        <h1 class="text-3xl">
            Добавить строку в рецепт
        </h1>
    </div>

    {{ include('production_recipe_content/_form.html.twig') }}

    <a href="{{ path('app_production_recipe_content_index') }}">back to list</a>
{% endblock %}
