<form method="post" action="{{ path('app_nomenclature_types_delete', {'id': nomenclature_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nomenclature_type.id) }}">
    <button class="btn">Delete</button>
</form>
