{% extends 'base.html.twig' %}

{% block title %}New ClassifierOKEI{% endblock %}

{% block body %}
    <h1>Create new ClassifierOKEI</h1>

    {{ include('classifier_okei/_form.html.twig') }}

    <a href="{{ path('app_classifier_o_k_e_i_index') }}">back to list</a>
{% endblock %}
