{% extends 'base.html.twig' %}

{% block title %}Edit ProductionRecipe{% endblock %}

{% block body %}
    <div class="intro-y flex items-center mt-8">
        <h1 class="text-3xl">
            Изменить рецепт
        </h1>
    </div>

    {{ include('production_recipe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_production_recipe_index') }}">back to list</a>

    {{ include('production_recipe/_delete_form.html.twig') }}
{% endblock %}
